<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liguo.hgl.proxydao.dao.TbFeedBackMapper" >
  <resultMap id="BaseResultMap" type="com.liguo.hgl.proxydao.model.TbFeedBack" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="feed_back" property="feedBack" jdbcType="VARCHAR" />
    <result column="create_dt" property="createDt" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="BaseResultMapDto" type="com.liguo.hgl.proxydao.dto.FeedBackDto" extends="BaseResultMap">
  	  <result column="userName" property="userName" jdbcType="VARCHAR"/>
  	  <result column="typeId" property="typeId" jdbcType="INTEGER"/>
  	  <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
  </resultMap>
  
  <sql id="Object_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="parameter.userId != null" >
         and user_id = #{parameter.userId,jdbcType=INTEGER}
      </if>
      <if test="parameter.feedBack != null" >
         and feed_back = #{parameter.feedBack,jdbcType=VARCHAR}
      </if>
      <if test="parameter.createDt != null" >
         and create_dt = #{parameter.createDt,jdbcType=BIGINT}
      </if>
      <if test="parameter.version != null" >
         and version = #{parameter.version,jdbcType=INTEGER}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, feed_back, create_dt, version
  </sql>
  <select id="selectByObject" parameterType="com.liguo.hgl.proxydao.model.Criteria" resultMap="BaseResultMap" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_feed_back
    <if test="parameter != null" >
      <include refid="Object_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_feed_back
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" flushCache="true" >
    delete from tb_feed_back
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByObject" parameterType="com.liguo.hgl.proxydao.model.Criteria" flushCache="true" >
    delete from tb_feed_back
    <if test="parameter != null" >
      <include refid="Object_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.liguo.hgl.proxydao.model.TbFeedBack" >
    insert into hgl.tb_feed_back (id, user_id, feed_back, 
      create_dt, version)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{feedBack,jdbcType=VARCHAR}, 
      #{createDt,jdbcType=BIGINT}, #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.liguo.hgl.proxydao.model.TbFeedBack" >
    insert into tb_feed_back
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="feedBack != null" >
        feed_back,
      </if>
      <if test="createDt != null" >
        create_dt,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="feedBack != null" >
        #{feedBack,jdbcType=VARCHAR},
      </if>
      <if test="createDt != null" >
        #{createDt,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByObject" parameterType="com.liguo.hgl.proxydao.model.Criteria" resultType="java.lang.Integer" >
    select count(*) from tb_feed_back
    <if test="parameter != null" >
      <include refid="Object_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.liguo.hgl.proxydao.model.TbFeedBack" flushCache="true" >
    update tb_feed_back
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="feedBack != null" >
        feed_back = #{feedBack,jdbcType=VARCHAR},
      </if>
      <if test="createDt != null" >
        create_dt = #{createDt,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        version = version + 1,
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
     and version = #{version,jdbcType=INTEGER} 
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liguo.hgl.proxydao.model.TbFeedBack" flushCache="true" >
    update tb_feed_back
    set user_id = #{userId,jdbcType=INTEGER},
      feed_back = #{feedBack,jdbcType=VARCHAR},
      create_dt = #{createDt,jdbcType=BIGINT},
      version = version + 1
    where id = #{id,jdbcType=INTEGER}
     and version = #{version,jdbcType=INTEGER} 
  </update>
  
  <!-- feedBack分页 -->
  <select id="selectByObjectPage" parameterType="com.liguo.hgl.proxydao.model.Criteria" resultMap="BaseResultMapDto">
  	  select f.id,f.user_id,f.feed_back,f.create_dt,u.user_name as userName,u.type_id as typeId,u.mobile as mobile 
  	  	from tb_feed_back as f left join tb_web_user as u on f.user_id = u.id
  	   <trim prefix="where" prefixOverrides="and|or">
  	   	<if test="parameter.userName != null and parameter.userName != ''">
  	   		and u.user_name like CONCAT('%',#{parameter.userName,jdbcType=VARCHAR},'%')
  	   	</if>
  	   	<if test="parameter.typeId != null and parameter.typeId != 0">
  	   		and u.type_id = #{parameter.typeId,jdbcType=VARCHAR}
  	   	</if>
  	   	<if test="parameter.mobile != null and parameter.mobile != ''">
  	   		and u.mobile like CONCAT('%',#{parameter.mobile,jdbcType=VARCHAR},'%')
  	   	</if>
  	   </trim>	
  	   <if test="orderByClause != null" >
      	  order by ${orderByClause}
       </if>
       <include refid="common.Mysql_Pagination_Limit" />		
  </select>
</mapper>