<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liguo.hgl.proxydao.dao.TbPayContextParamMapper" >
  <resultMap id="BaseResultMap" type="com.liguo.hgl.proxydao.model.TbPayContextParam" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_groub_no" property="orderGroubNo" jdbcType="VARCHAR" />
    <result column="trade_status" property="tradeStatus" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="payment" property="payment" jdbcType="VARCHAR" />
    <result column="account_id" property="accountId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Object_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="parameter.orderGroubNo != null" >
         and order_groub_no = #{parameter.orderGroubNo,jdbcType=VARCHAR}
      </if>
      <if test="parameter.tradeStatus != null" >
         and trade_status = #{parameter.tradeStatus,jdbcType=INTEGER}
      </if>
      <if test="parameter.version != null" >
         and version = #{parameter.version,jdbcType=INTEGER}
      </if>
      <if test="parameter.payment != null" >
         and payment = #{parameter.payment,jdbcType=VARCHAR}
      </if>
      <if test="parameter.accountId != null" >
         and account_id = #{parameter.accountId,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, order_groub_no, trade_status, version, payment, account_id
  </sql>
  <select id="selectByObject" parameterType="com.liguo.hgl.proxydao.model.Criteria" resultMap="BaseResultMap" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_pay_context_param
    <if test="parameter != null" >
      <include refid="Object_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_pay_context_param
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" flushCache="true" >
    delete from tb_pay_context_param
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByObject" parameterType="com.liguo.hgl.proxydao.model.Criteria" flushCache="true" >
    delete from tb_pay_context_param
    <if test="parameter != null" >
      <include refid="Object_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.liguo.hgl.proxydao.model.TbPayContextParam" >
    insert into hgl.tb_pay_context_param (id, order_groub_no, trade_status, 
      version, payment, account_id
      )
    values (#{id,jdbcType=INTEGER}, #{orderGroubNo,jdbcType=VARCHAR}, #{tradeStatus,jdbcType=INTEGER}, 
      #{version,jdbcType=INTEGER}, #{payment,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.liguo.hgl.proxydao.model.TbPayContextParam" >
    insert into tb_pay_context_param
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderGroubNo != null" >
        order_groub_no,
      </if>
      <if test="tradeStatus != null" >
        trade_status,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="payment != null" >
        payment,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderGroubNo != null" >
        #{orderGroubNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        #{tradeStatus,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByObject" parameterType="com.liguo.hgl.proxydao.model.Criteria" resultType="java.lang.Integer" >
    select count(*) from tb_pay_context_param
    <if test="parameter != null" >
      <include refid="Object_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.liguo.hgl.proxydao.model.TbPayContextParam" flushCache="true" >
    update tb_pay_context_param
    <set >
      <if test="orderGroubNo != null" >
        order_groub_no = #{orderGroubNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        trade_status = #{tradeStatus,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = version + 1,
      </if>
      <if test="payment != null" >
        payment = #{payment,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
     and version = #{version,jdbcType=INTEGER} 
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liguo.hgl.proxydao.model.TbPayContextParam" flushCache="true" >
    update tb_pay_context_param
    set order_groub_no = #{orderGroubNo,jdbcType=VARCHAR},
      trade_status = #{tradeStatus,jdbcType=INTEGER},
      version = version + 1,
      payment = #{payment,jdbcType=VARCHAR},
      account_id = #{accountId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
     and version = #{version,jdbcType=INTEGER} 
  </update>
</mapper>