<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liguo.hgl.proxydao.dao.TbTalkMapper" >
  <resultMap id="BaseResultMap" type="com.liguo.hgl.proxydao.model.TbTalk" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="weixin_user_id" property="weixinUserId" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="is_show" property="isShow" jdbcType="INTEGER" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Object_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="parameter.weixinUserId != null" >
         and weixin_user_id = #{parameter.weixinUserId,jdbcType=INTEGER}
      </if>
      <if test="parameter.openId != null" >
         and open_id = #{parameter.openId,jdbcType=VARCHAR}
      </if>
      <if test="parameter.isDelete != null" >
         and is_delete = #{parameter.isDelete,jdbcType=INTEGER}
      </if>
      <if test="parameter.isShow != null" >
         and is_show = #{parameter.isShow,jdbcType=INTEGER}
      </if>
      <if test="parameter.message != null" >
         and message = #{parameter.message,jdbcType=VARCHAR}
      </if>
      <if test="parameter.createTime != null" >
         and create_time = #{parameter.createTime,jdbcType=VARCHAR}
      </if>
      <if test="parameter.version != null" >
         and version = #{parameter.version,jdbcType=INTEGER}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, weixin_user_id, open_id, is_delete, is_show, message, create_time, version
  </sql>
  <select id="selectByObject" parameterType="com.liguo.hgl.proxydao.model.Criteria" resultMap="BaseResultMap" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_talk
    <if test="parameter != null" >
      <include refid="Object_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_talk
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" flushCache="true" >
    delete from tb_talk
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByObject" parameterType="com.liguo.hgl.proxydao.model.Criteria" flushCache="true" >
    delete from tb_talk
    <if test="parameter != null" >
      <include refid="Object_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.liguo.hgl.proxydao.model.TbTalk" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_talk (weixin_user_id, open_id, is_delete, 
      is_show, message, create_time, 
      version)
    values (#{weixinUserId,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}, 
      #{isShow,jdbcType=INTEGER}, #{message,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.liguo.hgl.proxydao.model.TbTalk" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_talk
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="weixinUserId != null" >
        weixin_user_id,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="weixinUserId != null" >
        #{weixinUserId,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByObject" parameterType="com.liguo.hgl.proxydao.model.Criteria" resultType="java.lang.Integer" >
    select count(*) from tb_talk
    <if test="parameter != null" >
      <include refid="Object_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.liguo.hgl.proxydao.model.TbTalk" flushCache="true" >
    update tb_talk
    <set >
      <if test="weixinUserId != null" >
        weixin_user_id = #{weixinUserId,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = version + 1,
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER} and version = #{version,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liguo.hgl.proxydao.model.TbTalk" flushCache="true" >
    update tb_talk
    set weixin_user_id = #{weixinUserId,jdbcType=INTEGER},
      open_id = #{openId,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER},
      is_show = #{isShow,jdbcType=INTEGER},
      message = #{message,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      version = version + 1
    where id = #{id,jdbcType=INTEGER} and version = #{version,jdbcType=INTEGER}
  </update>
</mapper>