<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liguo.hgl.proxydao.dao.TbWarehouseUserMapper" >
  <resultMap id="BaseResultMap" type="com.liguo.hgl.proxydao.model.TbWarehouseUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="shop_type" property="shopType" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
    <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
    <result column="warehouse_tel" property="warehouseTel" jdbcType="VARCHAR" />
    <result column="contract" property="contract" jdbcType="VARCHAR" />
    <result column="contract_phone" property="contractPhone" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_dt" property="createDt" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Object_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="parameter.warehouseId != null" >
         and warehouse_id = #{parameter.warehouseId,jdbcType=INTEGER}
      </if>
      <if test="parameter.userId != null" >
         and user_id = #{parameter.userId,jdbcType=INTEGER}
      </if>
      <if test="parameter.shopType != null" >
         and shop_type = #{parameter.shopType,jdbcType=VARCHAR}
      </if>
      <if test="parameter.userName != null" >
         and user_name = #{parameter.userName,jdbcType=VARCHAR}
      </if>
      <if test="parameter.userAccount != null" >
         and user_account = #{parameter.userAccount,jdbcType=VARCHAR}
      </if>
      <if test="parameter.warehouseName != null" >
         and warehouse_name = #{parameter.warehouseName,jdbcType=VARCHAR}
      </if>
      <if test="parameter.warehouseTel != null" >
         and warehouse_tel = #{parameter.warehouseTel,jdbcType=VARCHAR}
      </if>
      <if test="parameter.contract != null" >
         and contract = #{parameter.contract,jdbcType=VARCHAR}
      </if>
      <if test="parameter.contractPhone != null" >
         and contract_phone = #{parameter.contractPhone,jdbcType=VARCHAR}
      </if>
      <if test="parameter.createBy != null" >
         and create_by = #{parameter.createBy,jdbcType=INTEGER}
      </if>
      <if test="parameter.createDt != null" >
         and create_dt = #{parameter.createDt,jdbcType=BIGINT}
      </if>
      <if test="parameter.version != null" >
         and version = #{parameter.version,jdbcType=INTEGER}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, warehouse_id, user_id, shop_type, user_name, user_account, warehouse_name, warehouse_tel, 
    contract, contract_phone, create_by, create_dt, version
  </sql>
  <select id="selectByObject" parameterType="com.liguo.hgl.proxydao.model.Criteria" resultMap="BaseResultMap" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_warehouse_user
    <if test="parameter != null" >
      <include refid="Object_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_warehouse_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" flushCache="true" >
    delete from tb_warehouse_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByObject" parameterType="com.liguo.hgl.proxydao.model.Criteria" flushCache="true" >
    delete from tb_warehouse_user
    <if test="parameter != null" >
      <include refid="Object_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.liguo.hgl.proxydao.model.TbWarehouseUser" >
    insert into hgl.tb_warehouse_user (id, warehouse_id, user_id, 
      shop_type, user_name, user_account, 
      warehouse_name, warehouse_tel, contract, 
      contract_phone, create_by, create_dt, 
      version)
    values (#{id,jdbcType=INTEGER}, #{warehouseId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{shopType,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userAccount,jdbcType=VARCHAR}, 
      #{warehouseName,jdbcType=VARCHAR}, #{warehouseTel,jdbcType=VARCHAR}, #{contract,jdbcType=VARCHAR}, 
      #{contractPhone,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, #{createDt,jdbcType=BIGINT}, 
      #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.liguo.hgl.proxydao.model.TbWarehouseUser" >
    insert into tb_warehouse_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="warehouseId != null" >
        warehouse_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="shopType != null" >
        shop_type,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userAccount != null" >
        user_account,
      </if>
      <if test="warehouseName != null" >
        warehouse_name,
      </if>
      <if test="warehouseTel != null" >
        warehouse_tel,
      </if>
      <if test="contract != null" >
        contract,
      </if>
      <if test="contractPhone != null" >
        contract_phone,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDt != null" >
        create_dt,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null" >
        #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="shopType != null" >
        #{shopType,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null" >
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="warehouseName != null" >
        #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseTel != null" >
        #{warehouseTel,jdbcType=VARCHAR},
      </if>
      <if test="contract != null" >
        #{contract,jdbcType=VARCHAR},
      </if>
      <if test="contractPhone != null" >
        #{contractPhone,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDt != null" >
        #{createDt,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByObject" parameterType="com.liguo.hgl.proxydao.model.Criteria" resultType="java.lang.Integer" >
    select count(*) from tb_warehouse_user
    <if test="parameter != null" >
      <include refid="Object_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.liguo.hgl.proxydao.model.TbWarehouseUser" flushCache="true" >
    update tb_warehouse_user
    <set >
      <if test="warehouseId != null" >
        warehouse_id = #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="shopType != null" >
        shop_type = #{shopType,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null" >
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="warehouseName != null" >
        warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseTel != null" >
        warehouse_tel = #{warehouseTel,jdbcType=VARCHAR},
      </if>
      <if test="contract != null" >
        contract = #{contract,jdbcType=VARCHAR},
      </if>
      <if test="contractPhone != null" >
        contract_phone = #{contractPhone,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDt != null" >
        create_dt = #{createDt,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        version = version + 1,
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
     and version = #{version,jdbcType=INTEGER} 
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liguo.hgl.proxydao.model.TbWarehouseUser" flushCache="true" >
    update tb_warehouse_user
    set warehouse_id = #{warehouseId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      shop_type = #{shopType,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_account = #{userAccount,jdbcType=VARCHAR},
      warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      warehouse_tel = #{warehouseTel,jdbcType=VARCHAR},
      contract = #{contract,jdbcType=VARCHAR},
      contract_phone = #{contractPhone,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_dt = #{createDt,jdbcType=BIGINT},
      version = version + 1
    where id = #{id,jdbcType=INTEGER}
     and version = #{version,jdbcType=INTEGER} 
  </update>
</mapper>